
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/
*.sqlite3
instance/
*.log

# Flask / local
.env
*.db

# OS
.DS_Store
Thumbs.db
# local/runtime stuff

!instance/.gitkeep
!uploads/.gitkeep
!backups/.gitkeep
!build/.gitkeep
!dist/.gitkeep
!.vscode/.gitkeep
instance/**
uploads/**
backups/**
build/**
dist/**
.vscode/**

!instance/.gitkeep
!uploads/.gitkeep
!backups/.gitkeep
!build/.gitkeep
!dist/.gitkeep
!.vscode/.gitkeep
